 #title {
    font-size: 40px;
    color: red  ;
 }
 body {
    background: #000 url('https://i.pinimg.com/originals/c1/22/0c/c1220c418ff9a3055e936af9a68f0e37.gif') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
  }
body {
    background-color: black;
}
label {
    font-size: 25px;
    color: red  ;
 }
